<h1>Artists</h1>

<h2><%= @artists.length <= 0 ? "No Artists" : '' %></h2>
<ul>
  <% @artists.each do |artist| %>
    <li>
      <%= link_to artist.full_name, artist %>
    </li>
  <% end %>
</ul>

 <li><button type="button" class="btn btn-dark"><a><%= link_to 'Add an artist', new_artist_path %></a></button></li>

