<h1>List of Billboards</h1>
<ul>
  <% @billboards.each do |billboard| %>
  <li>
    <a class='show'><%= link_to billboard.billboard_name, billboard %></a>
  </li>
  <% end %>
</ul>

 <button type="button" class="btn btn-dark"><a><%= link_to 'Add a Billboard', new_billboard_path %></a></button>

