<ul class= 'nav'>
 <li><button type="button" class="btn btn-dark"><a><%= link_to 'Billboards', billboards_path %></a></button></li>
 <li><button type="button" class="btn btn-dark"><a><%= link_to 'Add a Billboard', new_billboard_path %></a></button></li>
 <li><button type="button" class="btn btn-dark"><a><%= link_to 'Artists', artists_path %></a></button></li>
 <li><button type="button" class="btn btn-dark"><a><%= link_to 'Add an artist', new_artist_path %></a></button></li>
</ul>